{{!-- Hero Section for homepage --}}
<div class="container py-5">
  <div class="row text-center text-white">
    <div class="col-lg-8 mx-auto">
      <h1 class="display-4">CodeFlix</h1>
      <p class="lead mb-5">Post about all things tech.</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      {{#each blogs }}
      <div class=" my-3 py-3">
        <div class="bg-white rounded shadow-sm py-3 px-3">
          <div class="d-flex p-2 justify-content-between">
            <h4 class="mb-0" data-toggle="{{#if Comments}}collapse{{/if}}" data-target="{{#if Comments}}#blogCollapse{{id}}{{/if}}" aria-expanded="false"
              aria-controls="blogCollapse{{id}}" style="color: #1abc9c;">{{title}}</h4>
            <p class="text-muted small mb-0">{{format_date createdAt}}</p>
          </div>
          <div class="d-flex flex-column p-2">
            <p class="text-muted small mb-0 mr-2">
              By: {{user.username}}
            </p>
            <div>
                <button class="text-muted small mb-0 commentBtn" data-id="{{id}}">Leave a comment
                <i class="fa-solid fa-comment ml-2"></i></button>
            </div>
            {{> commentModal }}
          </div>
          <p id="limited-text" class="d-flex p-2 limited-text" style="color: rgb(85, 84, 84);">
            {{content}}
          </p>
          {{!-- Collapsed Comment section for each blog post --}}
          <div id="blogCollapse{{id}}" class="collapse">
            {{#each Comments as |comment|}}
            <div id="commentCard" class="my-2">
              <div class="d-flex p-2 justify-content-between p-2" >
                <div><i class="fa-solid fa-user"></i>{{user.username}}</div>
                 <div class="commentUser"><i class="fa-sharp fa-regular fa-clock"></i> {{ format_date comment.createdAt}}
                </div>
              </div>
              <div class="d-flex p-2">{{comment.text}}</div>
              <div>
               
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  <script src="./js/comment.js"></script>