{{!-- Hero Section for homepage --}}
<div class="container py-5">
  <div class="row text-center text-white">
    <div class="col-lg-8 mx-auto">
      <h1 class="display-4">CodeFlix</h1>
      <p class="lead mb-5">Posting about all things tech.</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      {{#each blogs}}
      <div class="col-xl-3 col=sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-3 px-3">
          <div class="d-flex p-2 justify-content-between">
            <a href="/api/blogs/{{id}}" id="blogTitle">
              <h4 class="mb-0">{{title}}</h4>
            </a>
            <p class="text-muted small mb-0">{{format_date createdAt}}</p>
          </div>
          <div class="d-flex p-2">
            <p class="text-muted small mb-0">
              By: {{user.username}}
            </p>
          </div>
          <p class="d-flex p-2" style="color: rgb(85, 84, 84);">
            {{content}}
          </p>
        </div>
      </div>
      {{/each}}
    </div>
  </div>